extends main

block content
    #content
        #main_section
            #article
                .article_header
                    h1.article_title 현지학기제임
                    p.article_date 수정일 : 2019년 05월 29일
                .article_body
                    p 으아아아앙아