extends main

block content
    #content
        #main_section
            #article
                .article_header
                    h1.article_title 조원소개임
                    p.article_date 수정일 : 2019년 05월 29일
                .article_body
                    p 내용내용내용내요요요요요용요용